*
!package.json
!pnpm-workspace.yaml
!pnpm-lock.yaml
!turbo.json
!apps/
!packages/
apps/mobile/.expo/
apps/mobile/android/
apps/mobile/ios/
**/node_modules
**/.next
**/.turbo
**/dist
**/.env
**/.env.*
!**/.env.example
